@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --font-family: "Mulish", sans-serif;
  --secondary: "Montserrat", sans-serif;
  --background-color: #f8f9fa;
  --background: #f8f8f8;
  --link-color: #716d6e;
  --link-active: #01a0e2;
  --color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 14px;
  width: 100%;
}

.container .wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  min-height: 156px;
  width: 100%;
}

.header_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 20px;
}

.header_menu_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  flex-grow: 1;
}

.header_menu_link {
  text-decoration: none;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--link-color);
  white-space: nowrap;
  flex: 1 1 auto;
  min-width: 100px;
  border-bottom: 2px solid transparent;
}

.header_menu_link.active {
  text-decoration: none;
  color: var(--link-active);
  border-bottom: 2px solid var(--link-active);
}
.header_menu_link:hover {
  color: var(--link-active);
  border-bottom: 1px solid var(--link-active);
}

.header_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.header_button .btn-primary {
  display: inline-block;
  background-image: url("../img/button_click_help.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color);
  padding: 16px 25px;
  width: 260px;
  height: 58px;
  border-radius: 19.58px;
  text-decoration: none;
  font-family: var(--secondary);
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.header_button .btn-primary:hover {
  cursor: pointer;
}

.header_button .btn-primary:active {
  transform: scale(0.98);
}

.main_area {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: url("../img/head_photo.png");
  background-size: cover;
  background-position: 40% center;
  color: var(--color);
  margin-bottom: 3rem;
  min-height: 600px;
}

.main_area_anypages {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding: 20px;
  color: var(--color);
  margin-bottom: 3rem;
  min-height: fit-content;
}

.main_area_anypages .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

.main_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main_area > * {
  position: relative;
  z-index: 2;
}

.main_search_box {
  display: flex;
  margin-bottom: 38px;
  gap: 12px;
  font-family: var(--secondary);
  font-size: 16px;
  font-weight: 600;
  margin-top: 35px;
}
.main_search_bar {
  flex: 0;
}

.main_search_bar .form-control {
  width: 280px;
  height: 35px;
  border-radius: 15px;
  background: var(--background);
  border: 1px solid var(--background);
  opacity: 0.6;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.main_search_button .btn-primary {
  display: inline-block;
  background-image: url("../img/button_search.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 95px;
  height: 35px;
  border-radius: 15px;
  text-align: center;
  color: var(--color);
  font-weight: 500;
  border: none;
  padding: 0;
  background-color: transparent;
}

.main_search_button .btn-primary:hover {
  cursor: pointer;
}

.main_search_button .btn-primary:active {
  transform: scale(0.98);
}
.main_content {
  text-align: left;
  padding: 20px 0;
  color: var(--color);
}

.main_title_text {
  font-size: 40px;
  margin-bottom: 54px;
  font-family: var(--font-family);
  font-weight: 800;
  white-space: nowrap;
}

.main_title_pages {
  font-size: 40px;
  font-family: var(--font-family);
  color: var(--link-color);
  font-weight: 800;
  margin: 1em 0;
}

.main_subcontent {
  color: var(--color);
  text-align: left;
}

.main_subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 54px;
  font-family: var(--font-family);
}

.main_subtitle_pages {
  font-size: 20px;
  font-weight: bold;
  margin-top: 54px;
  font-family: var(--font-family);
  color: var(--link-color);
}

.main_text_pages {
  font-size: 1.2em;
  font-family: var(--font-family);
  color: var(--link-color);
}

.list_help {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 15px;
  font-weight: bold;
}

.list_title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-family);
}

.help_text_pages {
  font-size: 1.2em;
  font-family: var(--font-family);
  color: var(--link-color);
  white-space: nowrap;
  font-weight: 500;
}

.about_text_pages {
  font-size: 23.06px;
  font-family: var(--font-family);
  color: var(--link-color);
  font-weight: 400;
  line-height: 34.59px;
}

.hr_line {
  background-color: var(--link-color);
  border: 1.5px solid;
  margin: 0 !important;
  padding: 0 !important;
}

.history-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-top: 20px;
  align-items: center;
  margin: 0 0 5em 0;
}

.history-item:nth-child(odd) {
  grid-column: 1;
}

.history-item:nth-child(even) {
  grid-column: 2;
}

.history-item {
  background-color: var(--background);
  color: var(--link-color);
  padding: 10px 0;
}

.photo-gallery {
  margin-top: 20px;
}

.gallery-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
}

.album-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  margin-bottom: 10px;
}

.album-cover img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.album-cover:hover img {
  transform: scale(1.1);
}

.album-title {
  text-align: center;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  color: var(--link-color);
  margin-top: 1.2em;
  padding: 0 10px;
  word-wrap: break-word;
  white-space: normal;
  line-height: 25px;
  height: 3.5em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent !important;
  background-clip: border-box;
  border: none !important;
  --bs-card-inner-border-radius: 0 !important;
  height: 100%;
}

.card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.card-title {
  margin-bottom: 3em !important;
  height: 60px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--link-color) !important;
  text-transform: uppercase;
}

.card-text {
  margin-top: 3em;
  text-align: justify;
  max-width: 100%;
  line-height: 1.6;
  color: var(--link-color);
  font-family: var(--font-family);
  font-size: 13px;
}

.card-text:last-child {
  margin-bottom: 0;
  color: var(--link-color);
  font-family: var(--font-family);
  font-size: 18px;
  text-align: justify;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.no-shadow {
  box-shadow: none !important;
}

.footer {
  background-color: var(--background-color);
  padding: 20px 0;
}

.footer .wrapper {
  margin-top: 4em;
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  align-items: end;
}

.footer_title,
.footer_text_one {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--link-color);
  margin-bottom: 2rem;
  font-family: var(--font-family);
  font-weight: bold;
}

.footer_banner_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6em;
}

.footer_banner_box img {
  max-width: 255px;
}

.photo_fund {
  width: 300px;
  height: auto;
}

.photo_unisef {
  width: 265px;
  height: auto;
}

.footer_textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  text-align: justify;
}

.footer_text_two,
.footer_text_three {
  font-size: 10.5px;
  line-height: 1.5em;
  word-spacing: 2px;
  color: var(--link-color);
  font-family: var(--font-family);
  font-weight: bold;
}

@media (max-width: 768px) {
  .container .wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .header_menu_nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .header_button {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
  }

  .main_area {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
  }

  .main_title_text {
    font-size: 24px;
    margin-bottom: 20px;
    white-space: normal;
  }

  .main_subtitle {
    font-size: 18px;
    margin-top: 20px;
  }

  .list_title {
    font-size: 16px;
  }
  .main_search_box {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
  }

  .main_search_bar .form-control {
    width: 200px;
    height: 37px;
  }

  .main_search_button .btn-primary {
    margin-bottom: 12px;
    width: 100px;
    height: 35px;
  }

  .adaptive_one {
    display: block;
  }

  .adaptive_two {
    width: 100%;
    margin-bottom: 20px;
  }

  .help_text_pages {
    white-space: normal;
    font-size: 1em;
  }

  .history-grid {
    gap: 20px;
  }

  .about_text_pages {
    font-size: 14px;
    line-height: 1.4em;
    text-align: left;
  }

  .history-image-box {
    display: flex;
    justify-content: center;
  }

  .history-image-box img {
    width: 90%;
    height: auto;
  }

  .footer .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer_title,
  .footer_text_one {
    text-align: center;
  }

  .footer_banner_box {
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }

  .footer_textbox {
    align-items: center;
    text-align: justify;
  }

  .photo_fund,
  .photo_unisef {
    width: 100%;
    max-width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container .wrapper {
    max-width: 100% !important;
    margin: 0 auto !important;
    padding: 0 15px !important;
  }

  .header_menu {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .header_menu_nav {
    flex-direction: column !important;
    align-items: center !important;
    gap: 30px !important;
  }

  .header_button {
    width: 100% !important;
    justify-content: center !important;
    margin-top: 15px !important;
  }

  .main_area {
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 500px;
  }

  .main_title_text {
    font-size: 32px;
    margin-bottom: 40px;
    white-space: normal;
  }

  .main_subtitle {
    font-size: 20px;
    margin-top: 40px;
  }

  .list_title {
    font-size: 18px;
  }

  .adaptive_one {
    display: block;
  }

  .adaptive_two {
    width: 100%;
    margin-bottom: 20px;
  }

  .help_text_pages {
    white-space: normal;
    font-size: 1em;
  }

  .news-adaptive-one .news-adaptive-two {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card-title {
    font-size: 1.1rem;
    white-space: normal;
    text-align: center;
  }

  .card-text {
    font-size: 1rem;
    text-align: justify;
  }

  .history-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .about_text_pages {
    font-size: 16px;
  }

  .history-image-box img {
    width: 100%;
    height: auto;
  }

  .footer .grid {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .footer_title,
  .footer_text_one {
    text-align: center;
  }

  .footer_banner_box {
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }

  .footer_textbox {
    align-items: center;
    text-align: justify;
  }

  .photo_fund,
  .photo_unisef {
    width: 100%;
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .header_menu_nav {
    flex-direction: row !important;
    gap: 20px !important;
    justify-content: space-between;
  }

  .header_button {
    width: auto !important;
    justify-content: flex-end !important;
    margin-left: 40px !important;
    margin-top: 0 auto;
  }

  .header_menu_link {
    min-width: auto;
    flex: 1 1 auto;
  }

  .main_title_text {
    font-size: 40px;
    margin-bottom: 54px;
  }

  .main_subtitle {
    font-size: 24px;
    margin-top: 54px;
  }

  .list_title {
    font-size: 20px;
  }

  .main_search_bar .form-control {
    width: 280px;
  }

  .main_search_button .btn-primary {
    width: 95px;
    height: 35px;
  }

  .history-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .about_text_pages {
    font-size: 18px;
  }

  .history-image-box img {
    width: 100%;
    height: auto;
  }

  .footer .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .footer_banner_box {
    gap: 6em;
    justify-content: space-between;
  }

  .footer_textbox {
    align-items: flex-end;
    text-align: justify;
  }

  .photo_fund {
    width: 300px;
  }

  .photo_unisef {
    width: 265px;
  }
}
